.checked{
    color: rgba(251, 255, 11, 0.905);

    
}

mat-icon{
    cursor: pointer;
    font-size: 30px ;
    margin-right: .5em;
}
label{
     display: block;
     font-size: large;
     color: rgba(73, 8, 31, 0.892);

}

div{
    display: inline-block;
    padding-left: 100em;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-right: 6em;
   
 
}