<app-generic-list [list]="appointments">
  <ng-container content>
    <div class="appointments-container">
      <div *ngFor = "let appointment of appointments ; let index = index" class="appointment-container">
        <a>
          <img [src]="appointment.poster" alt="Poster">
        </a>

        <p>
            <a>
              {{appointment.name}}
            </a>
        </p>
        <p>
           <a>
            {{appointment.relaseDate | date:"dd-MMMM-yyyy" | uppercase}}
           </a>
        </p>
        <div>
          <a mat-flat-button color = "">
            Edit event
          </a>

          <button mat-flat-button color = "warn" type="button"> Delete </button>
        </div>
      </div>
    </div>
  </ng-container>
</app-generic-list>
