<mat-toolbar color='warm'>
    <span>
        <a  routerLink="" mat-button ><mat-icon>event</mat-icon>APPOINTMENTS</a>
    </span>

    <div>
        <a routerLink="tasks" mat-button><mat-icon>task_alt</mat-icon>TO DO</a>
    </div>

    <div>
        <a routerLink="doing" mat-button><mat-icon>pending_actions</mat-icon>DOING</a>
    </div>

    <div>
        <a routerLink="reminders" mat-button><mat-icon>notifications_active</mat-icon>REMINDERS</a>
    </div>

    <div>
        <a routerLink="calendar" mat-button><mat-icon>event_note</mat-icon>CALENDAR</a>
    </div>
  
</mat-toolbar>
