.container{
    margin: 20px;
}

/* .newEvent{
    display:flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    background-color: rgba(100, 232, 127, 0.885);
    position: sticky;
    position :-webkit-sticky;
    top: 0;
    z-index: 2000;
} */